@import "src/styles/StyleVariables";

.hero-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px 44px 24px;
}

.hero-section__image-container {
  height: 336px;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.hero-section__image {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -233px;
  height: 100%;
  width: auto;
  max-height: 100%;

}

.hero-section__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.hero-section__title {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
  max-width: 293px;
  word-break: break-word;
  font-size: 32px;
  color: $very-dark-blue;
}

.hero-section__text {
  color: $gray;
  text-align: center;
  max-width: 315px;
  word-break: break-word;
  margin-bottom: 30px;
}

@media (min-width: 550px) {
  .hero-section__image-container {
    height: 482px;
  }
}

@media (min-width: 768px) {
  .hero-section__image {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (min-width: $screen--lg) {
  .hero-section {
    padding: 30px 48px 35px 48px;
    flex-direction: row;
    overflow-x: unset;
    align-items: center;
  }
  .hero-section--row-reverse {
    flex-direction: row-reverse;
  }
  .hero-section__image-container {
    margin: 0;
    max-height: 482px;
    flex: 1;
  }
  .hero-section__image {
    left: unset;
    transform: unset;
  }
  .hero-section__text-container {
    flex: 1;
    align-items: flex-start;
  }
  .hero-section__title {
    font-size: 58px;
    line-height: 58px;
    max-width: 500px;
    text-align: left;
  }
  .hero-section__text {
    text-align: left;
    max-width: 500px;
    margin-bottom: 35px;
  }

}