@import "src/styles/StyleVariables";

.hero-section {
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero-section__image {
  width: auto;
  height: 336px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section__title {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
  max-width: 293px;
  word-break: break-word;
  font-size: 32px;
  color: $very-dark-blue;
}

.hero-section__text {
  color: $gray;
  text-align: center;
  max-width: 315px;
  word-break: break-word;
  margin-bottom: 30px;
}

@media (min-width: $screen--lg) {
  .hero-section__image {

  }

}