@import "src/styles/StyleVariables";

.button {
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
  background: $cyan;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  &:hover {
    background: $cyan--hover;
  }
  &:focus, &:active {
    background: $dark-violet;
  }
}

.button--large {
  padding: 18px 30px;
}

.button--active {
  background: $dark-violet;
}

@media (min-width: $screen--lg) {
  .button--large {
    padding: 22px 42px;
  }
}