@import "src/styles/StyleVariables";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

.logo--white {
  filter: invert(100%) sepia(89%) saturate(0%) hue-rotate(115deg) brightness(109%) contrast(101%);
}

.layout__content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: $screen--lg) {
  .layout__content-wrapper {
    overflow-x: unset;
  }
}