@import "src/styles/StyleVariables";

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: $very-dark-blue;
}

.text-input-container__input {
  padding: 16px 18px;
  border-radius: 8px;
  font-size: 16px;
  color: $very-dark-blue;
  border: 2px solid $dark-violet;
}

.text-input-container__input::placeholder{
  color: $gray;
}

.text-input-container__input:focus {
  outline: none;
  border: 2px solid $cyan;
}

.text-input-container span {
  display: flex;
  justify-content: space-between;
}

.text-input-container__error-message {
  color: $red;
  font-size: 12px;
  font-style: italic;
  visibility: hidden;
}
.error-message--active {
  visibility: visible;
}

.text-input-container__input--error{
  color: $red;
  //background-color: #FFE8E6;
  border: 2px solid $red;
}
.text-input-container__input--error::placeholder {
  color: $red;
}

@media (min-width: $screen--lg) {
  .text-input-container {
    gap: 12px;
  }
  .text-input-container__input {
    padding: 22px 33px;
  }
}