@import "src/styles/StyleVariables";

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: $very-dark-blue;
}

.text-input-container__input {
  padding: 18px;
  border-radius: 8px;
  font-size: 16px;
  color: $very-dark-blue;
  border: 4px solid $dark-violet;
}

.text-input-container__input::placeholder{
  color: $gray;
}

.text-input-container__input:focus {
  outline: none;
  border: 4px solid $cyan;
}

.text-input-container span {
  display: flex;
  justify-content: space-between;
}

.text-input-container__error-message {
  color: $red;
  font-size: 12px;
  font-style: italic;
}

.text-input-container__input--error{
  color: $red;
  //background-color: #FFE8E6;
  border: 4px solid $red;
}
.text-input-container__input--error::placeholder {
  color: $red;
}

@media (min-width: $screen--lg) {
  .text-input-container__input {
    padding: 33px 24px;
  }
}