@import "src/styles/StyleVariables";

.content-block-section-wrapper {
  background: $section-background;
}
.content-block-section {
  padding: 44px 24px 80px 24px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-block-section__text-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}
.content-block-section__title {
  font-weight: 700;
  color: $very-dark-blue;
}

.content-block-section__text {
  text-align: center;
  color: $grayish-violet;
}


@media (min-width: $screen--lg) {
  .content-block-section {
    padding: 60px 48px 120px 48px;
    gap: 100px;
  }
  .content-block-section__text {
    max-width: 480px;
  }
}
