@import "src/styles/StyleVariables";

.footer {
  background: $very-dark-violet;
  color: #fff;
  display: flex;
}

.footer__content {
  padding: 56px 24px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  gap: 54px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.footer-navigation__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.footer-nav-item__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.footer-nav-item__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.footer-nav-item__link {
  color: var(--footer-nav-link-color, $gray);
  &:hover {
    --footer-nav-link-color: #{$cyan};
  }
}

.social-medias-section {
  display: flex;
  gap: 24px;
}

.social-medias-section__link {
  color: var(--footer-external-link-color, #fff);
  &:hover {
    --footer-external-link-color: #{$cyan};
  }
}

@media (min-width: $screen--lg) {
  .footer__logo {
    flex: 2;
  }
  .footer__content {
    padding: 72px 48px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
  }
  .footer-navigation__item {
    align-items: flex-start;

  }
  .footer-nav-item__list {
    align-items: flex-start;
  }


}