@import "src/styles/StyleVariables";


.content-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block-item__container {
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  align-items: center;
  position: relative;
  padding: 84px 40px 36px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-block-item__image-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 88px;
  width: 88px;
  border-radius: 100%;
  background: $dark-violet;
  display: flex;
  padding: 24px;
  box-sizing: border-box;
}

.content-block-item__title {
  color: $very-dark-blue;
  font-weight: 700;
  font-size: 18px;
}

.content-block-item__text {
  color: $gray;
  text-align: center;
}

@media (min-width: $screen--lg) {
  .content-block-item {
    position: relative;
  }
  .content-block-item:nth-child(2){
    margin-top: 44px;
  }
  .content-block-item:nth-child(3){
    margin-top: 88px;
  }
  .content-block-item__container{
    padding: 84px 30px 36px 30px;
    align-items: flex-start;
  }
  .content-block-item__image-container {
    left: 30px;
    transform: translate(0, -50%);
  }
  .content-block-item__text {
    text-align: left;
  }

}