:root {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
}


button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 18px;
}

button:focus,
button:focus-visible {
  outline: none;
}
