@import "src/styles/StyleVariables";

.link {
  padding: 12px 24px;
  font-weight: 700;
  background: var(--link-bg, $cyan);
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  &:hover{
    --link-bg: #{$cyan--hover};
  }
  &:focus, &:active {
    --link-bg: #{$dark-violet};
  }
}

.link--large {
  padding: 20px 40px;
}